<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="manage_crop">Manage Crop</a></td>
    </tr>
    <tr>
      <td><a href="manage_expert">Manage Expert</a></td>
    </tr>
    <tr>
      <td><a href="view_registered_users">View Registered User</a></td>
    </tr>
    <tr>
      <td><a href="view_feedback">View Feedback</a></td>
    </tr>
    <tr>
      <td><a href="add_notification">Add and Manage Notifications </a></td>
    </tr>
    <tr>
      <td><a href="verify_farmer">Verify Farmers </a></td>
    </tr>
    <tr>
      <td><a href="view_fertilizer">View Fertilizer</a></td>
    </tr>
    <tr>
      <td><label><a href="/">Logout</a></label></td>
    </tr>
  </table>
</form>
<a href="#"></a>
</body>
</html>
