<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="222" border="1">
    <tr>
      <td width="212"><div align="center"><a href="view_tips">View Tips</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="view_fertilizer">View Fertilizer</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="view_notification">View Notification </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="complaints1">Send Complaints and View Reply </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="send_doubts">Send Doubts And View Reply </a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="pest_prediction">Pest Prediction</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="feedback">Send Feedback</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="view_crops">View Crop</a></div></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="Logout" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
